body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.nav-center .logo {
    font-size: 1.5em;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.profile-options {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-options a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-options a:hover {
    background-color: #555;
}

.navbarSupportedContent{
    margin-left: auto;
}