 @import url('https://fonts.cdnfonts.com/css/amazon-ember');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
    list-style: none;
    outline: none;
    text-decoration: none;
    background-color: #000;

}

a{
    cursor: pointer;
}

/* nagivation  */

nav{
    background-color: #000;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;


    
}

.logo img{
    margin-top: 15px;
    width: 200px;
    height: 37px;
    object-fit: cover;

}

.right-menu{
    padding: 20px;
    font-size: 20px;

}

.right-menu a {
    padding: 5px 15px;
    color: rgba(242, 244, 246, 0.9);

}

.right-menu label:hover{
    cursor: pointer;

}

.right-menu a:nth-child(2),
.right-menu > a > label{
    font-size: 18px;
    padding: 0px 3px;

}

.arrow-down{
    font-size: 12px;
}

header{
    position: relative;
    min-width: 320px;
    height: 680px;
    overflow: hidden;
    color: #fff;
}

header > img {
    align-items:  center;
    width: 100%;
    object-fit: cover;
}

.text-over-image {
    background: rgba(0,0,0,0);
    box-shadow: inset 545px 0px 60px #000;
    width: 45%;
    height: 100%;
    position: absolute;
    top: 48%;
    transform: translate(-50%, -50%);

}

.text-over-image > h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 52%;
    margin-top: 100px;
    padding: 20px 0;


}

.text-over-image > p {
    margin-left: 52%;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;

}


text-over-image > p:nth-child(2){

font-size: 10px;
line-height: 10px;
margin-top: 12px;
}
.text-over-image > p:nth-child(4){

    font-size: 15px;
    line-height: 19px;
    margin-top: 12px;
}

.text-over-image > button {
    margin-left: 52%;
    width: 280px;
    background-color: #0f79af;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 22px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

#footer-image{


    /* position: relative; */
    /* margin-top: 5%; */

    padding-bottom: 1px;
    

}












